body {
    background-color: #DDDDDD;
    font-family: "Merriweather", serif;
    margin: 0;
    padding: 0;
}

a {
    color: #eeee;
}

/* Header */
.header_dark_green {
    background-color: #627254;
    color: #EEEE;
    height: 26vh; 
    padding-left: 2vw; 
    padding-top: 1.5vh; 
}

.avatar {
    float: right;
    margin-top: -18.5vh; 
    margin-right: 6vw; 
}

.linked {
    display: flex;
    gap: 5vw;
    align-items: center;
    font-weight: lighter;
}

/* About me */
.container_about{
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

.about_me{
    background-color: #76885B;
    color: #EEEE;
    width: 94vw;
    padding: 2.5vh;
    padding-top: 0.8vh;
}

.about_me h2
{
    font-size: 21px;
    font-weight: bolder;
}

/* Skills */
.skills{
    color: #4A583E;
    margin-left: 4.8vh;
    font-size: 18px;
}

.skills_list{
    display: flex;
    gap: 3vw;
    align-items: stretch;
    margin-top: -3vh;
    margin-left: 5vh;
}

.skills h2{
    font-size: 30px;
    font-weight: bolder;
}

.skills p{
    font-weight: 600;
    width: 20vw;
    font-size: 20px;
}

/* Experience */
.h2_experience{
    font-size: 30px;
    font-weight: bolder;
    color: #4A583E;
    margin-left: 4.8vh;
}

.exp_container{
    display: flex;
    justify-content: center;
}

.Experience{
    background-color: #76885B;
    width: 95vw;
    color: #EEEE;
    font-size: 18px;
    padding-left: 2vh;

    display: flex;
    gap: 4vw;
    align-items: stretch;

}

.Experience ul{
    font-size: 16px;
}

.python_game_dev, .team_python, .team_c{
    width: 28vw;
}

.date_work{
    font-style: italic;
}

/* Education */

.h2_education{
    font-size: 30px;
    font-weight: bolder;
    color: #4A583E;
    margin-left: 4.8vh;
}

.education{
    background-color: #76885B;
    width: 95vw;
    color: #EEEE;
    font-size: 16px;
    padding-left: 2vh;
    margin-bottom: 5vh;

}

.edu_container{
    display: flex;
    justify-content: center;
}

.education h4{
    font-size: 19px;
}